<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karet.idn</title>
    
    <link rel="stylesheet" href="css/style.css"> 
    
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <a href="index.php">
                    <img src="img/logo karet idn.png" alt="Logo Karet IDN" class="logo">
                </a>
            </div>
         
            <nav>
                <ul>
                    <li><a href="index.php">BERANDA</a></li>
                    <li><a href="produk.php">PRODUK KAMI</a></li>
                    <li><a href="tentang.php">PROFIL PERUSAHAAN</a></li>
                    <li><a href="blog.php">ARTIKEL</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="whatsapp-float">
        <a href="https://wa.me/6285888842655" target="_blank">
            <img src="img/wa.png" alt="WhatsApp">
        </a>
    </div>

    <main>